/* PREDEFINED */
body {
    background-color: #D5D9E2;
}
#app {
    width: 1500px;
    margin: auto;
    padding-left: 140px;
    padding-bottom: 100px;
    background-color: #F9FAFB;
}
/* MAIN */
#main {
    padding: 0 100px;
}
/* SIDE MENU */
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 140px;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
}
.side-menu a {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.side-menu-nav-logo {
    margin-top: 40px;
    margin-bottom: 40px;
}
.side-menu-nav-logo img{
    width: 55.71px;
}
.side-menu-nav {
    display: flex;
    height: 100%;
    gap: 17px;
    flex-direction: column;
    border-top: 2px solid #F9FAFB;
    padding: 33px 0px;
}
.side-menu-nav a {
    padding: 15px;
}
.side-menu-nav a img {
    width: 25px;
}
.side-menu-nav-rectangle {
    background-color: rgba(245, 248, 250,0.7);
}
.side-menu-nav-leave {
    margin-top: auto;
}
/* HEADER */
#header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 39px 0;
}
.header-title {
    font-size: 24px;
}
.header-feature {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header-feature-search-box {
    width: 240px;
    padding: 11px;
    border-radius: 9px;
    border: 1px solid #E4E6EF;
    display: flex;
    align-items:  center;
    margin-right: 10px;
    font-size: 13px;
}
.header-feature-search-box  img {
    width: 18px;
    margin-right: 13px;
}
.header-feature-search-box  input {
    background-color: transparent;
    color: #B5B5C3;
}
.header-notification-link,.header-account-link {
    padding: 8px;
    border: 1px solid #E4E6EF;
    border-radius: 9px;
    display: block;
    margin-right: 8px;
}
.header-account-link {
    margin-right: 10px;
}
.header-notification-link img,.header-account-link img {
    width: 24px;
}
.header-new-goal-link {
    border-radius: 6px;
    background-color: #B0DC00;
    color: white;
    display: block;
    padding: 11px 20px;
    font-size: 13px;
}

/* wrap */
#wrap {
    display: flex;
    width: 100%;
    gap: 60px;
}
.col-left {
    width:390px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.gift-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.gift-section-card {
    display: block;
    color:#3F4254 ;
    width: calc((100% - 30px)/2);
    background-color: white;
    border-radius: 12px;
    padding:25px 22px 24px;
    box-shadow: 0px 0px 20px rgba(94, 98, 120, 0.04);
}
.gift-section-card img{
    width: 50px;
    margin-bottom: 37px;
}
.gift-section-card p {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.time-line-section {
    background-color: white;
    width: 100%;
    border-radius: 12px;
}
.time-line-mark{
    font-size: 14px;
    line-height: 21px;
    width: 49px;
    margin-right: 23px;
    flex-shrink: 0;
    position: relative;
}
.time-line-section .section-heading-sub {
    font-size: 12px;
    line-height: 23px;
}
.time-line-button {
    border-radius: 9px;
    background-color: transparent;
    border: none;
    padding: 0;
    display: block;
    cursor: pointer;
}
.time-line-button  img {
    width: 20px;
}
.time-line-content {
    padding: 14px 20px 0px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.time-line-content::before {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #B5B5C3;
    top: calc(10.5px + 6.5px + 5px);
    left: calc(49px + 6.5px);
    transform: translateX(-50%);
    bottom: 2px;
    border-radius: 8px;
}
.time-line-mark::before {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    border-width: 3px;
    border-style: solid;
    top: 10.5px;
    background-color: white;
    transform: translateY(-50%);
    border-radius: 50%;
    right: -13px;
    box-shadow: 0 0 2px 4px white;
}
.time-line-event {
    width: 100%;
    display: flex;
}
.time-line-event .section-heading-title {
    font-size: 14px;
    font-weight: 600;
}
.time-line-text {
    width: 254px;
    flex-shrink: 0;
    color: #7E8299;;
    font-size: 12px;
    line-height:20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}
.time-line-p-common {
    font-weight: 600;
    font-size: 13px  !important;
    line-height: 20px;
}
.time-line-p-common span {
    font-size: 13px;
}
.col-right {
    width: 710px;
}
.billboard-section {
    padding: 49px 40px 48px;
    height: 237px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    background-color: #B4DE09;
    border-radius: 12px;
}
.billboard-section h2 {
    font-weight:600;
    font-size: 28px;
}
.billboard-section img {
    position: absolute;
    display: block;
    bottom: 0;
    left: 20%;
    transform: translateX(20%);
}
.billboard-link {
    color: white;
    padding: 12px 20px;
    background-color: #3F4254;
    border-radius: 12px;
    font-weight: 500;
    font-size: 15px;
    display: block;
}
.trend-properties{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.trend,.wrapper-right-statistics-properties {
    width: 48%;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
}
.trend-section {
    background-color: white;
}
.trend-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trend-chart {
    margin-top: 20px;
    width: 100%;
    display: block;
}
.trend-item {
    margin-bottom: 20px;
}
.trend-item img {
    width: 50px;
    margin-right: 15px;
}
.trend-bonus {
    font-size: 13px;
    font-weight: bold;
    color: #7E8299;
    background-color: #F3F6F9;
    margin-left: auto;
    padding: 5px 5px;
    border-radius: 9px;
    display: block;
}
.wrapper-right-statistics-properties-item img {
    width: 60px;
    margin-right: 15px;
}
.wrapper-right-statistics-properties-arrow {
    font-size: 13px;
    font-weight: bold;
    color: #7E8299;
    background-color: #F3F6F9;
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 9px;
    display: block;
}
.wrapper-right-statistics-new-arrivals {
    width: 100%;
    margin-top: 25px;
    padding: 25px 25px;
    background-color: white;
    border-radius: 12px;
}
.wrapper-right-statistics-new-arrivals-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.wrapper-right-statistics-new-arrivals-heading-title span{
    color: #7E8299;
}
.wrapper-right-statistics-new-arrivals-heading-button a{
    color: #7E8299;
    padding: 10px 15px;
    border-radius: 9px;
}
.wrapper-right-statistics-new-arrivals-heading-button a.active {
    background-color: 3F4254;
    color: white;
}
.wrapper-right-statistics-new-arrivals-item {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.wrapper-right-statistics-new-arrivals-item p {
    margin:0;
    color: #3F4254;
    font-weight: bolder;
}
.wrapper-right-statistics-new-arrivals-item-left {
    display: flex;
    align-items: center;
    width: 50%;
}
.wrapper-right-statistics-new-arrivals-item-left p{
    margin-bottom: 10px;
}
.wrapper-right-statistics-new-arrivals-item-left span {
    color: #B5B5C3;
}
.wrapper-right-statistics-new-arrivals-item-left strong {
    color: #3F4254;
}
.wrapper-right-statistics-new-arrivals-item-left-text {
    margin-left: 10px;
} 
.wrapper-right-statistics-new-arrivals-item-left-price {
    margin-left: auto;
} 
.wrapper-right-statistics-new-arrivals-item-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 43%;
}
.wrapper-right-statistics-new-arrivals-item-right-button {
    margin-right: auto;
    padding: 5px 10px;
    color: indigo;
    background-color:#F1F4F8;
    border-radius: 9px;
    font-weight: bolder;
}
.wrapper-right-statistics-new-arrivals-item-right-icon {
    margin-left: 15px;
    display: block;
    padding: 10px;
    background-color:#F1F4F8;
    border-radius: 9px;
}
.wrapper-right-statistics-new-arrivals-item-right-icon img{
    width: 18px;
}
a:hover {
    text-decoration: none;
}