/* PREDEFINED */




h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    background-color: #D5D9E2;
}
#app {
    width: 1500px;
    height: 1200px;
    position: relative;
    background-color: #F9FAFB;
    margin: auto;
    overflow: hidden;
}
/* HEADER */
#header {
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    align-items: flex-end;
    margin-right: 100px;
}
.header-title {
    font-size: 24px;
}
.header-feature {
    margin: 39px 0 0px;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.header-feature li{
    height: 42px;
}
.header-feature-search-box {
    padding-left: 12px;
    height: 100%;
    width: 240px;
    border-radius: 9px;
    border: 1px solid #E4E6EF;
    display: flex;
    align-items:  center;
    margin-right: 10px;
}
.header-feature-search-box  img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.header-feature-search-box  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #B5B5C3;
}
.header-feature-notification-link,.header-feature-account-link {
    padding: 9px;
    border: 1px solid #E4E6EF;
    border-radius: 9px;
    display: block;
    height: 100%;
    margin-right: 8px;
}
.header-feature-notification-link img,.header-feature-account-link img {
    width: 24px;
}
.header-feature-new-goal-link {
    height: 100%;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 9px;
    background-color: #B0DC00;
    color: white;
    display: block;
    line-height: 42px;
    font-weight: bolder;
}
.header-feature-new-goal-link:hover {
    text-decoration: none;
    color: white;
}
/* SIDE MENU */
.side-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 140px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
}
.side-menu a {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.side-menu-nav-logo {
    margin-top: 40px;
    margin-bottom: 40px;
}
.side-menu-nav-logo img{
    width: 55.71px;
}
.side-menu-nav {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #F9FAFB;
}
.side-menu-nav a{
    margin-top: 33px;
}
.side-menu-nav-link img {
    width: 24.75px;
}
.side-menu-nav-link-rectangle {
    padding: 15px;
    display: block;
    background-color: rgba(245, 248, 250,0.7);
}
.side-menu-nav-leave {
    display: block;
    margin-top: auto;
    margin-bottom: 40px;
}
/* MAIN */
#main {
    display: flex;
    margin-top: 39px;
    margin-left: 240px;
    margin-right: 100px;
}
/* wrapper */
.col-left {
    width:390px;
}
.gift-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gift-section-card {
    display: block;
    color:#3F4254 ;
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 12px;
    padding:30px 25px;
    box-shadow: 0px 0px 20px rgba(94, 98, 120, 0.04);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.gift-section-card-link:hover {
    text-decoration: none;
}
.gift-section-card img{
    width: 50px;
}
.gift-section-card p {
    margin: 0;
    margin-top: auto;
    font-weight: bolder;
}
.time-line-section {
    background-color: white;
    width: 100%;
    border-radius: 12px;
}
.time-line-button {
    border-radius: 9px;
    background-color: transparent;
    border: none;
    padding: 0;
    display: block;
    cursor: pointer;
}
.time-line-button  img {
    width: 20px;
}
.time-line-content {
    margin-top: 30px;
    position: relative;
}
.time-line-event {
    display: flex;
    align-items: stretch;
}
.time-line-mark {
    display: flex;
    align-items: center;
    padding-right: 15px;
    position: relative;
}
.time-line-mark p {
    margin:0;
}
.time-line-divide {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time-line-circle{
    width: 14px;
    height: 14px;
    border: 3px solid salmon;
    border-radius: 50%;
    margin: 0 8px;
    background-color: white;
}
.time-line-lash{
    margin: 3px 0;
    height: 100%;
    width: 3px;
    background-color: #E5EAEE;
    border-radius: 8px;
}
.time-line-text {
    font-size: 12px;
    padding-bottom: 20px;
}
.col-right {
    width: 710px;
    margin-left: 60px;
}

.wrapper-right-billboard-panel {
    padding-top: 40px;
    padding-left: 30px;
    height: 237px;
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #B4DE09;
    border-radius: 12px;
}
.wrapper-right-billboard-panel h2 {
    font-weight:bold;
    margin-bottom: 40px;
}
.wrapper-right-billboard-panel img {
    position: absolute;
    display: block;
    bottom: 0;
    left: 20%;
    transform: translateX(20%);
}
.wrapper-right-billboard-link {
    color: white;
    padding: 10px 20px;
    background-color: #3F4254;
    border-radius: 12px;
    font-weight: bolder;
}
.wrapper-right-statistics {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper-right-statistics-trend,.wrapper-right-statistics-properties {
    width: 48%;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
}
.wrapper-right-statistics-trend-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-right-statistics-trend-chart {
    margin-top: 20px;
    width: 100%;
    display: block;
}
.wrapper-right-statistics-trend-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.wrapper-right-statistics-trend-content-text p{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
.wrapper-right-statistics-trend-content-text span{
    font-size: 13px;
    color: #7E8299;
}
.wrapper-right-statistics-trend-item img {
    width: 50px;
    margin-right: 15px;
}
.wrapper-right-statistics-trend-bonus {
    font-size: 13px;
    font-weight: bold;
    color: #7E8299;
    background-color: #F3F6F9;
    margin-left: auto;
    padding: 5px 5px;
    border-radius: 9px;
    display: block;
}
.wrapper-right-statistics-properties-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.wrapper-right-statistics-properties-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.wrapper-right-statistics-properties-content-text p{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
.wrapper-right-statistics-properties-content-text span{
    font-size: 13px;
    color: #7E8299;
}
.wrapper-right-statistics-properties-item img {
    width: 60px;
    margin-right: 15px;
}
.wrapper-right-statistics-properties-arrow {
    font-size: 13px;
    font-weight: bold;
    color: #7E8299;
    background-color: #F3F6F9;
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 9px;
    display: block;
}
.wrapper-right-statistics-new-arrivals {
    width: 100%;
    margin-top: 25px;
    padding: 25px 25px;
    background-color: white;
    border-radius: 12px;
}
.wrapper-right-statistics-new-arrivals-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.wrapper-right-statistics-new-arrivals-heading-title span{
    color: #7E8299;
}
.wrapper-right-statistics-new-arrivals-heading-button a{
    color: #7E8299;
    padding: 10px 15px;
    border-radius: 9px;
}
.wrapper-right-statistics-new-arrivals-heading-button a.active {
    background-color: 3F4254;
    color: white;
}
.wrapper-right-statistics-new-arrivals-item {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.wrapper-right-statistics-new-arrivals-item p {
    margin:0;
    color: #3F4254;
    font-weight: bolder;
}
.wrapper-right-statistics-new-arrivals-item-left {
    display: flex;
    align-items: center;
    width: 50%;
}
.wrapper-right-statistics-new-arrivals-item-left p{
    margin-bottom: 10px;
}
.wrapper-right-statistics-new-arrivals-item-left span {
    color: #B5B5C3;
}
.wrapper-right-statistics-new-arrivals-item-left strong {
    color: #3F4254;
}
.wrapper-right-statistics-new-arrivals-item-left-text {
    margin-left: 10px;
} 
.wrapper-right-statistics-new-arrivals-item-left-price {
    margin-left: auto;
} 
.wrapper-right-statistics-new-arrivals-item-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 43%;
}
.wrapper-right-statistics-new-arrivals-item-right-button {
    margin-right: auto;
    padding: 5px 10px;
    color: indigo;
    background-color:#F1F4F8;
    border-radius: 9px;
    font-weight: bolder;
}
.wrapper-right-statistics-new-arrivals-item-right-icon {
    margin-left: 15px;
    display: block;
    padding: 10px;
    background-color:#F1F4F8;
    border-radius: 9px;
}
.wrapper-right-statistics-new-arrivals-item-right-icon img{
    width: 18px;
}
a:hover {
    text-decoration: none;
}