* {
    box-sizing: border-box;
}

#app {
    width: 1500px;
    height: 1500px;
    font-family: 'Poppins';
    margin: auto;
}

/* TOP BAR */
.top-menu {
    position: relative;
    padding: 28px 150px 25px 34px;
    border-bottom: 1px solid #F2F2F2;
}

.top-menu a:hover {
    transform: scale(1.2);
}

.top-menu-toggle {
    margin-right: 84px;
}

.top-menu-toggle img {
    width: 32px;
}

.top-menu-feature {
    display: flex;
    align-items: center;
}

.top-menu-feature-left {
    display: flex;
    align-items: center;
}

.top-menu-logo {
    margin-right: 40px;
}

.top-menu-logo img {
    width: 47px;
}

.top-menu-searchbox {
    width: 388px;
    padding: 13px 17px;
    display: flex;
    border-radius: 12px;
    background: #F3F6F9;
}

.top-menu-searchbox img {
    width: 19px;
    margin-right: 12px;
}

.top-menu-searchbox input {
    width: 100%;
    color: #B5B5C3;
    background-color: transparent;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.top-menu-feature-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 26px;
}

.top-menu-create-button {
    display: block;
    padding: 11px 19px;
    background-color: #C9F7F5;
    border-radius: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #1BC5BD;
}

.top-menu-icon img {
    width: 26px;
}

.top-menu-number {
    padding: 8px 15px;
    background-color: #F64E60;
    border-radius: 12px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: white;
}

/* MAIN */
.main {
    padding: 60px 150px;
}

.category {
    display: flex;
}

.category-topic {
    display: flex;
    align-items: center;
    width: 781px;
    gap: 15px;
}

.category-item {
    cursor: pointer;
    display: block;
    padding: 50px 0;
    color: #B5B5C3;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 12px;
    flex-grow: 1;
    flex-basis: 0;
}

.category-item:hover {
    transform: scale(1.1);
}

.category-item p {
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.category-item.category-video {
    color: white;
    background-color: #F64E60;
}

.category-item img {
    width: 48px;
}

.category-panel {
    background-color: #FFF4DE;
    width: 380px;
    margin-left: auto;
    position: relative;
    padding: 33px 40px 38px;
    border-radius: 12px;
}

.category-panel h2 {
    color: #EF6327;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.category-panel p {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #80808F;
}

.category-panel-button {
    color: #EF6327;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    margin-top: 50px;
    gap: 4px;
    padding: 5px 0;
}

.category-billboard {
    position: absolute;
    bottom: 0;
    right: 0px;
}

.category-billboard-standing {
    right: 0px;
    position: absolute;
    top: -150px;
}

.stats {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.stats-billboard {
    width: var(--left-col);
    background-color: #F3F6F9;
    border-radius: 12px;
}

.stats-billboard-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 30px;
}

.stats-billboard-title h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #212121;
    margin-bottom: 7px;
}

.stats-billboard-title span {
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #80808F;
}

.stats-billboard-button-group {
    display: flex;
    align-items: center;
}

.stats-billboard-button-group button {
    cursor: pointer;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
    border-radius: 12px;
}

.stats-billboard-button-group button:hover {
    transform: scale(1.1);
}

.stats-billboard-button-group button.active {
    background-color: #464E5F;
    color: white;
}

.stats-chart {
    padding: 0 53px 27px 40px;
}

.stats-author {
    width: var(--right-col);
    border-radius: 12px;
    padding: 23px 30px;
    background-color: #C9F7F5;
}

.stats-author-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-author-heading h3 {
    color: #1BC5BD;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
}

.stats-author-heading button {
    padding: 10px;
    cursor: pointer;
}

.stats-author-heading button:hover {
    transform: scale(1.2);
}

.stats-author-list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.stats-author-item {
    display: flex;
    align-items: center;
}

.stats-author-list a {
    cursor: pointer;
}

.stats-author-list a:hover {
    transform: scale(1.1);
}

.stats-author-item img {
    width: 40px;
}

.stats-author-infor {
    margin-left: 15px;
}

.stats-author-infor p {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.stats-author-infor span {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
}

.arrivals {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
}

.arrivals-list {
    width: var(--left-col);
    padding: 30px 26px 28px 30px;
    background-color: #F3F6F9;
    border-radius: 12px;
}

.arrivals-list-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrivals-list-heading-title h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #212121;
    margin-bottom: 7px;
}

.arrivals-list-heading-title span {
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #B5B5C3;
}

.arrivals-list-heading-button a {
    color: #7E8299;
    padding: 10px 15px;
    border-radius: 9px;
}

.arrivals-list-heading-button a.active {
    background-color: 3F4254;
    color: white;
}

.arrivals-content {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.arrivals-card {
    width: 100%;
    gap: 60px;
    display: flex;
    justify-content: space-between;
}

.arrivals-card p {
    margin: 0;
    color: #3F4254;
    font-weight: bolder;
}

.arrivals-card-item {
    display: flex;
    align-items: center;
    width: 50%;
}

.arrivals-card-item img {
    width: 50px;
    padding: 10px;
    margin-right: 15px;
}

.arrivals-card-item p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #464E5F;
}

.arrivals-card-item span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #B5B5C3;
    ;
}

.arrivals-card-item strong {
    color: #3F4254;
}

.arrivals-card-price {
    margin-left: auto;
    text-align: right;
}

.arrivals-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 43%;
}

.arrivals-controls-button {
    margin-left: auto;
    margin-right: 66px;
    padding: 5px 10px;
    border-radius: 9px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
}

.arrivals-controls-icon {
    margin-left: 15px;
    display: block;
    background-color: white;
    border-radius: 9px;
}

.arrivals-controls-icon img {
    width: 32px;
}

.arrivals-todo {
    width: var(--right-col);
    border-radius: 12px;
    padding: 23px 30px;
    background-color: #FFF4DE;
}

.arrivals-todo-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrivals-todo-heading h3 {
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #F64E60;
}

.arrivals-todo-heading button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}

.arrivals-todo-list {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.arrivals-todo-item {
    display: flex;
    align-items: center;
}

.arrivals-todo-item img {
    width: 25px;
    margin-right: 15px;
}

.arrivals-todo-infor p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #464E5F;
}

.arrivals-todo-infor span {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
}

.arrivals-todo-button {
    padding: 10px;
    margin-left: auto;
}

.arrivals-todo-button img {
    width: 16px;
}
.arrivals a:hover, .arrivals button:hover {
    transform: scale(1.2);
}